<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ewordfun修改密码</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.4.1/theme-chalk/index.css">
    <style>
        body, html {
            width: 100%;
            height: 100%;
        }

        body, html, div {
            margin: 0;
            padding: 0;
        }

        #app {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
<div id="app">
    <div style="width: 100%;height: 4rem;background-color: #17BFC8;text-align: center;line-height: 4rem;font-size: 1.5rem;color: white">
        ewordfun
    </div>
    {% if linkValid %}
    <div style="margin-top: 5rem;;margin-bottom: 1rem;font-size: 1.2rem;color: #17BFC8">重置你的密码</div>
    <div style="width: 25rem;background-color: white;justify-content: center;display: flex;align-items: center;justify-self: center">
        <el-form style="width: 80%;margin-top: 2rem;margin-bottom: 2rem" :model="ruleForm" :rules="rules"
                 ref="ruleForm">
            <el-form-item prop="pass">
                <el-input placeholder="新密码" v-model="ruleForm.pass" type="password"></el-input>
            </el-form-item>
            <el-form-item prop="checkPass">
                <el-input placeholder="确认新密码" v-model="ruleForm.checkPass" type="password"></el-input>
            </el-form-item>
            <div style="width: 100%;flex-direction: row-reverse;display: flex">
                <el-button style="margin-left: 1rem">取消</el-button>
                <el-button type="primary" @click="submitForm('ruleForm')" :loading="dataLoading">确认</el-button>
            </div>
        </el-form>
    </div>
    {% else %}
    <div style="width: 25rem;background-color: white;justify-content: center;display: flex;align-items: center;justify-self: center;margin-top: 5rem;height: 10rem">
        链接已失效
    </div>
    {% endif %}
</div>
<script src="https://cdn.bootcss.com/vue/2.5.2/vue.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.4.1/index.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      ruleForm: {
        pass: '',
        checkPass: ''
      },
      rules: {},
      dataLoading: false
    },
    created() {
      this.init();
    },
    methods: {
      init() {
        let validatePass = (rule, value, callback) => {
          if (value.length < 6 || value.length > 32) {
            callback(new Error('请输入长度为6~32的密码'));
          } else {
            if (this.ruleForm.checkPass !== '') {
              this.$refs.ruleForm.validateField('checkPass');
            }
            callback();
          }
        };
        let validatePass2 = (rule, value, callback) => {
          if (value === '') {
            callback(new Error('请再次输入密码'));
          } else if (value !== this.ruleForm.pass) {
            callback(new Error('两次输入密码不一致!'));
          } else {
            callback();
          }
        };
        this.rules = {
          pass: [
            {validator: validatePass, trigger: 'blur'},
          ],
          checkPass:
            [
              {validator: validatePass2, trigger: 'blur'}
            ],
        };
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.dataLoading = true;
            this.updatePasswordToServer();
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      updatePasswordToServer() {
        let uid_uniqidmd5 = window.location.pathname.split('/').pop();
        axios.post('/api/user/updatePassword', {
          uid_uniqidmd5: uid_uniqidmd5,
          newPass: this.ruleForm.pass
        }).then((res) => {
          if (res.data.code == 1) {
            this.$message({
              message: "密码修改成功,跳转中。。。",
              type: 'success'
            });
            setTimeout(()=>{
              window.location.replace('http://192.168.1.187:8080');
            },2000);
          }else {
            this.$message({
              message: "密码修改失败，请重试！",
              type: 'warning'
            });
          }
          this.dataLoading = false;
        });
      }
    }
  });
</script>
</body>
</html>
